* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #076fd9;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1710px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 690px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 630px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 610px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 50%;
  }
}

:root {
  --primary: #076fd9;
  --white: #fff;
  --black: #000;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat";
}

@media screen and (max-width: 1200px) {
  body {
    background-color: #eae9e8;
  }
}

body.disable {
  overflow: hidden;
}

.icon-button {
  background-color: transparent;
  appearance: none;
  border: none;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

@media screen and (max-width: 1920px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 100%;
    padding: 0 37px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    padding: 0 10px;
  }
}

/* @media screen and (max-width: 1200px) {
  .container {
    max-width: 100%
  }
} */

/* @media screen and (max-width: 992px) {
  .container {
    max-width: 962px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 37px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
} */
