.modal {
  transition: all 0.3s;
  overflow: hidden;
  position: fixed;
  display: none;
  z-index: 1001;
  inset: 0;
}

.modal.show {
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content-container {
  max-width: 1659px;
  max-height: 80dvh;
}

.modal-header {
  background-color: var(--primary);
  border-top-right-radius: 65px;
  border-top-left-radius: 65px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  height: 140px;
  display: flex;
}

.modal-content-wrapper {
  border-bottom-right-radius: 65px;
  border-bottom-left-radius: 65px;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  padding: 20px 70px 0px 61px;
  align-items: flex-start;
  display: grid;
  gap: 78px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal-right-content-wrapper {
  text-align: center;
  color: #1273d7;
}

.modal-right-content-wrapper img {
  position: relative;
  top: -30px;
}

.modal-right-content-title {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 900;
}

.modal-right-content-description {
  font-family: "Balsamiq Sans";
  position: relative;
  font-size: 3.75rem;
  font-weight: 700;
  z-index: 1;
}

.modal-header br {
  display: none;
}

.modal-title {
  font-size: 4.75rem;
  font-weight: 900;
}

.modal-close-icon {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}

/* form */
form {
  flex-direction: column;
  max-width: 745px;
  margin-top: 23px;
  display: flex;
  gap: 15px;
}

.text-field {
  border: 6px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s;
  border-radius: 45px;
  padding-left: 65px;
  font-weight: 500;
  font-size: 36px;
  height: 104px;
  width: 100%;
}

.text-field::placeholder {
  text-underline-offset: 5px;
  text-decoration: underline;
  color: #799bbd;
}

.text-field:valid {
  background-color: rgba(5, 255, 5, 0.641);
}

.submit-button {
  background-color: var(--primary);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 24px 100px;
  color: var(--white);
  border-radius: 40px;
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 482px;
  cursor: pointer;
  margin: 0 auto;
}

/* backdrop */

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  display: none;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.backdrop.show {
  display: block;
}

@media screen and (max-width: 996px) {
  .modal-content-container {
    max-width: 626px;
    width: 100%;
  }

  .modal-title {
    font-size: 3rem;
  }

  .modal-close-icon {
    height: 22px;
    width: 22px;
    right: 30px;
    top: 34px;
  }

  .modal-header br {
    display: block;
  }

  .modal-content-wrapper {
    padding: 25px 30px 42px 30px;
    justify-content: center;
    grid-template-columns: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  form {
    margin-top: 0;
    max-width: fit-content;
    gap: 4px;
  }

  .text-field {
    padding: 10px 10px 10px 35px;
    border-radius: 35px;
    font-size: 24px;
    height: auto;
  }

  .modal-right-content-wrapper {
    display: none;
  }

  .submit-button {
    padding: 15px 10px;
    max-width: 304px;
    font-size: 1.5rem;
    margin-top: 12px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .text-field {
    border-radius: 25px;
    padding-left: 35px;
    font-size: 26px;
    height: auto;
  }

  .modal-content-container {
    max-width: 95vw;
  }

  .modal-content-wrapper {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .modal-header {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
}
