@import "./normalize.css";
@import "./fonts.css";
@import "./common.css";
@import "./typography.css";
@import "./modal.css";

/* header */
header {
  background: url("public/images/header-bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 53px 0 122px 0;
}

.header-navigation-wrapper {
  background-color: var(--primary);
  justify-content: space-between;
  border-radius: 73px;
  align-items: center;
  color: var(--white);
  padding: 21px 63px;
  display: flex;
}

.header-navigation-wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.header-navigation-wrapper a {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
}

.header-navigation-wrapper ul {
  display: flex;
  gap: 50px;
}

.header-content-wrapper {
  justify-content: flex-end;
  align-items: center;
  padding-right: 37px;
  padding-top: 106px;
  display: flex;
}

.header-content-wrapper h2 {
  text-transform: uppercase;
  color: var(--primary);
  width: min-content;
  line-height: 125%;
  font-weight: 900;
}

.header-content-wrapper p {
  color: var(--primary);
  font-size: 2.625rem;
  padding-top: 60px;
  line-height: 125%;
  font-weight: 500;
  max-width: 760px;
}

.header-navigation.mobile {
  background-color: rgba(29, 124, 217, 0.95);
  border-bottom-right-radius: 55px;
  border-top-right-radius: 55px;
  padding: 70px 20px;
  min-width: 80dvw;
  overflow: hidden;
  position: fixed;
  display: block;
  z-index: 100;
  left: 0;
  top: 0;
}

.header-navigation.mobile ul {
  flex-direction: column;
}

.mobile-menu-burger {
  flex-direction: column;
  margin-top: 25px;
  display: none;
  width: 74px;
  gap: 13px;
}

.mobile-menu-burger > div {
  background-color: var(--primary);
  border-radius: 10px;
  height: 9px;
}

@media screen and (max-width: 1200px) {
  .header-navigation {
    display: none;
  }

  .mobile-menu-burger {
    display: flex;
  }

  header {
    background-image: url("public/images/header-mobile-bg.png");
    padding: 10px 0 32px 0;
    min-height: 1281px;
  }

  .header-navigation-wrapper {
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0;
    align-items: flex-start;
    padding: 0px 0px;
    display: flex;
    color: var(--primary);
  }

  .header-navigation-wrapper h1 {
    text-align: left;
    font-weight: 700;
  }

  .header-content-wrapper {
    justify-content: flex-start;
    padding-top: 100px;
  }

  .header-content-wrapper > div {
    flex-basis: 60%;
  }

  .header-content-wrapper h2 {
    color: var(--primary);
    line-height: 125%;
    font-weight: 900;
    max-width: 760px;
  }

  .header-content-wrapper p {
    font-size: 2rem;
    max-width: 257px;
    padding-top: 13px;
  }
}

@media screen and (max-width: 720px) {
  header {
    min-height: 1281px;
  }
}

@media screen and (max-width: 620px) {
  header {
    min-height: 921px;
  }

  .mobile-menu-burger {
    margin-top: 13px;
    width: 50px;
    gap: 8px;
  }

  .mobile-menu-burger > div {
    background-color: var(--primary);
    border-radius: 10px;
    height: 7px;
  }
}

@media screen and (max-width: 520px) {
  header {
    min-height: 821px;
  }
}

@media screen and (max-width: 450px) {
  header {
    min-height: 721px;
  }
}

@media screen and (max-width: 400px) {
  header {
    min-height: 651px;
  }
}

/* about us */
.about-us-section {
  background-image: url("public/images/about-us-bg.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 95px;
  padding-top: 91px;
}

.about-us-section-title-wrapper {
  align-items: center;
  display: flex;
  gap: 37px;
}

.about-us-title-image-wrapper {
  border-bottom-right-radius: 55px;
  background-color: var(--primary);
  border-top-right-radius: 55px;
  position: relative;
  padding: 9px 15px;
  text-align: right;
  height: 110px;
  z-index: 2;
  flex: 1;
}

.about-us-title-image-wrapper::before {
  background-color: var(--primary);
  position: absolute;
  height: 110px;
  width: 100vw;
  left: -99vw;
  content: "";
  top: 0;
}

.about-us-title {
  text-transform: uppercase;
  color: var(--primary);
  text-align: right;
  font-weight: 900;
}

.about-us-cards-wrapper {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  column-gap: 7px;
  row-gap: 22px;
  padding-top: 56px;
}

.about-us-card {
  max-width: 412px;
  position: relative;
  display: grid;
  grid-template-rows: 144px 1fr;
  flex-grow: 1;
  background-color: rgba(246, 248, 255, 0.7);
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.3);
  border-radius: 65px;
  padding: 44px 25px;
}

.about-us-card span {
  position: absolute;
  line-height: 124%;
  right: 37px;
  top: 17px;
}

.about-us-card span.red {
  color: #e15d4e;
}

.about-us-card span.pink {
  color: #a156d0;
}

.about-us-card span.green {
  color: #5cec35;
}

.about-us-card span.orange {
  color: #ffb243;
}

.about-us-card b {
  color: var(--primary);
  line-height: 120%;
}

.about-us-card p {
  font-weight: 800;
  line-height: 124%;
  color: #293746;
  margin-top: 10px;
}

.about-us-subtitle {
  background-color: var(--primary);
  border-bottom-left-radius: 55px;
  border-top-left-radius: 55px;
  padding: 27px 0 27px 65px;
  align-items: center;
  margin-top: 66px;
  height: 110px;
  display: flex;
}

.about-us-subtitle::after {
  background-color: var(--primary);
  position: absolute;
  height: 110px;
  width: 50vw;
  content: "";
  right: 0;
}

.about-us-subtitle h4 {
  text-transform: uppercase;
  position: relative;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .about-us-section {
    background-image: url("public/images/about-us-mobile-bg.png");
    background-size: 100% 100%;
    padding-bottom: 35px;
    padding-top: 141px;
  }

  .about-us-left-label {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 2px;
    right: 67%;
  }

  .about-us-left-label > img {
    width: 28px;
    height: 28px;
  }

  .about-us-title {
    font-size: 40px;
    letter-spacing: 14px;
  }

  .about-us-cards-wrapper {
    padding-top: 42px;
    row-gap: 21px;
  }

  .about-us-card {
    grid-template-rows: auto 1fr;
    padding: 53px 33px 48px 33px;
    border-radius: 45px;
    max-width: 640px;
  }

  .about-us-card b {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 120%;
  }

  .about-us-card p {
    font-weight: 600;
    line-height: 115%;
    color: #293746;
    margin-top: 10px;
    letter-spacing: -2%;
  }

  .about-us-subtitle {
    margin-top: 26px;
    padding-left: 65px;
  }

  .about-us-subtitle h4 {
    font-size: 28px;
    letter-spacing: -2%;
    line-height: 112%;
  }

  .about-us-subtitle::before {
    height: 65px;
  }
}
/* gallery */

.gallery-images-wrapper {
  grid-template: 350px 350px / 0.75fr 1fr 1fr 0.75fr;
  column-gap: 11px;
  row-gap: 32px;
  display: grid;
}

.gallery-image-wrapper img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .gallery-images-wrapper {
    grid-template: repeat(2, minmax(auto, 306px)) / 1fr 1fr 1fr;
    padding: 0px 10px;
    display: grid;
    gap: 10px;
  }

  .gallery-images-wrapper > .gallery-image-wrapper:nth-of-type(1),
  .gallery-images-wrapper > .gallery-image-wrapper:nth-of-type(6) {
    display: none;
  }

  .gallery-image-wrapper img {
    border-radius: 25px;
  }
}

/* benefits */
.benefits-section {
  background-image: url("public/images/benefits-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 137px;
}

.benefits-title-wrapper {
  padding-left: 138px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
  align-items: center;
}

.benefits-title-wrapper h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  letter-spacing: 10px;
  text-shadow: 8px 8px 0 #002c51, -8px 8px 0 #002c51, -8px -8px 0 #002c51,
    8px -8px 0 #002c51;
}

.benefits-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 24px;
}

.benefit-card {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 540px;
  display: grid;
  grid-template: 100px 1fr / 0.25fr 0.75fr;
  padding: 40px 24px;
  border-radius: 65px;
}

.benefit-card b {
  color: #0071ad;
}

.benefit-card p {
  grid-column: span 2;
}

@media screen and (max-width: 720px) {
  .benefits-section {
    padding-top: 27px;
  }

  .benefits-title-wrapper {
    padding-left: 0px;
    padding-bottom: 27px;
    gap: 25px;
  }

  .benefits-title-wrapper img {
    width: 80px;
    height: 80px;
  }

  .benefits-title-wrapper h4 {
    color: black;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: right;
    text-shadow: none;
  }

  .benefits-cards-wrapper {
    gap: 15px;
  }

  .benefit-card {
    padding: 24px 15px;
    border-radius: 35px;
    grid-template: auto 1fr / auto 1fr;
    gap: 20px;
    max-width: 678px;
  }

  .benefit-card img {
    width: 65px;
    height: 65px;
  }
}

/* price */
.price-section-header {
  display: grid;
  grid-template: auto auto / auto 1fr;
  column-gap: 5px;
  align-items: center;
  margin-bottom: 30px;
}

.price-section-header img {
  grid-row: span 2;
}

.price-section-header h4 {
  color: #076fd9;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.price-section-header p {
  line-height: 113%;
  font-weight: 800;
}

.franchises-wrapper {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 54px;
}

.franchise {
  max-width: 766px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.franchise > div:first-of-type,
.franchise > div:last-of-type {
  background-color: #066fd9;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 62px;
}

.franchise > div:first-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.franchise > div:last-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.franchise > div:first-of-type b,
.franchise > div:last-of-type b {
  text-align: center;
  flex: 1;
}

.franchise > div:nth-of-type(2) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.franchise > div:nth-of-type(8) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.franchise > div {
  border-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 15px 21px;
  text-transform: uppercase;
  font-weight: 900;
  color: #2b4f71;
  align-items: center;
}

.franchise > div > b:nth-of-type(2) {
  text-align: center;
  text-wrap: nowrap;
  min-width: 30%;
}

@media screen and (max-width: 720px) {
  .price-section-header {
    grid-template: auto auto / auto 1fr;
    margin-bottom: 30px;
    row-gap: 10px;
    column-gap: 0;
  }

  .price-section-header img {
    max-height: 160px;
    max-width: 180px;
    grid-row: span 1;
  }

  .price-section-header h4 {
    font-weight: 900;
    font-size: 70px;
  }

  .price-section-header p {
    font-size: 20px;
    color: #546e85;
    grid-column: span 2;
    padding-left: 15px;
  }

  .price-section-header p br {
    display: none;
  }

  .franchises-wrapper {
    gap: 50px;
  }

  .franchise {
    gap: 4px;
  }

  .franchise > div:first-of-type,
  .franchise > div:last-of-type {
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 25px;
    font-size: 70px;
  }

  .franchise > div {
    border-radius: 20px;
    background-color: #d4e1ef;
    display: flex;
    justify-content: space-between;
    padding: 15px 21px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2b4f71;
    align-items: center;
  }

  .franchise > div > b:nth-of-type(2) {
    text-align: center;
    text-wrap: nowrap;
    min-width: 30%;
  }
}

/* quick start */
.quick-start-section {
  padding-top: 71px;
}

.quick-start-section-title {
  justify-content: space-between;
  background-color: var(--primary);
  margin-bottom: 21px;
  max-width: 80%;
  display: flex;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  padding-right: 90px;
  align-items: flex-end;
  position: relative;
  height: 110px;
}

.quick-start-section-title::before {
  content: "";
  position: absolute;
  height: 110px;
  left: -99vw;
  width: 100vw;
  z-index: -1;
  background-color: var(--primary);
}

.quick-start-section-title > h4 {
  text-transform: uppercase;
  color: #fff;
}

.quick-start-steps-wrapper {
  background-image: url("public/images/quick-start-steps-bg.png");
  grid-template: auto auto / 1fr 1fr;
  background-size: 90% auto cover;
  background-repeat: no-repeat;
  row-gap: 130px;
  display: grid;
  margin-top: 150px;
}

.quick-start-step-wrapper {
  grid-template: auto auto / auto 1fr;
  align-content: start;
  position: relative;
  column-gap: 10px;
  display: grid;
  row-gap: 27px;
  z-index: -1;
}

.quick-start-step-wrapper.reverse {
  grid-template: auto auto / auto 1fr;
}

.quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(1) {
  position: relative;
  top: -30px;
  left: 24%;
}

.quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(2) {
  position: relative;
  top: -130px;
  left: 24%;
}

.quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(3) {
  position: relative;
  top: -115px;
  left: 18%;
  z-index: 1;
}

.quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(4) {
  position: relative;
  z-index: 1;
  top: -90px;
  left: 7%;
}

.quick-start-step-number {
  position: relative;
  color: #23476b;
  top: -12px;
}

.quick-start-step-number.reverse {
  grid-column: 2/3;
  grid-row: 1/2;
}

.quick-start-step-title {
  color: #23476b;
  font-weight: 900;
  line-height: 127%;
  text-transform: uppercase;
}

.quick-start-step-description {
  color: #23476b;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  grid-column: 2/3;
}

.quick-start-step-description.reverse {
  grid-column: span 2;
}

.quick-start-step-description::before {
  background-color: #03c6ff;
  position: absolute;
  width: 172px;
  content: "";
  height: 9px;
  top: -21px;
  left: 0px;
}

.quick-start-step-description.second::before {
  background-color: #5342ff;
}

.quick-start-step-description.third::before {
  background-color: #9a29f3;
}

.quick-start-step-description.fourth::before {
  background-color: #ff43a4;
}

@media screen and (max-width: 720px) {
  .quick-start-section {
    padding-top: 50px;
  }

  .quick-start-section-title {
    background-color: var(--primary);
    border-bottom-right-radius: 57px;
    border-top-right-radius: 57px;
    margin-bottom: 14px;
    padding-right: 0px;
    max-width: 100%;
    height: 57px;
  }

  .quick-start-section-title::before {
    background-color: var(--primary);
    height: 57px;
  }

  .quick-start-section-title > h4 {
    font-size: 46px;
  }

  .quick-start-section-title img {
    position: relative;
    height: 120px;
    width: 108px;
    right: -10px;
    top: 20px;
  }

  .quick-start-steps-wrapper {
    background-image: url("public/images/quick-start-steps-mobile-bg.png");
    margin-top: 20px;
    grid-template: repeat(4, auto) / 1fr;
    min-height: 1400px;
    gap: 0;
  }

  .quick-start-step-wrapper {
    grid-template: auto auto / auto 1fr;
    max-width: 400px;
    justify-self: end;
    position: relative;
    column-gap: 10px;
    display: grid;
    row-gap: 27px;
    z-index: -1;
  }

  .quick-start-step-wrapper.reverse {
    justify-self: start;
  }

  .quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(1) {
    position: static;
    justify-self: end;
    padding-top: 60px;
    order: 1;
  }

  .quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(2) {
    position: relative;
    left: 20px;
    padding-top: 100px;
    max-width: 390px;
    order: 3;
  }

  .quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(3) {
    position: relative;
    padding-top: 50px;
    left: unset;
    top: unset;
    z-index: 1;
    order: 2;
  }

  .quick-start-steps-wrapper > .quick-start-step-wrapper:nth-of-type(4) {
    position: relative;
    left: unset;
    top: unset;
    z-index: 1;
    order: 4;
  }

  .quick-start-step-number {
    position: relative;
    color: #23476b;
    top: -12px;
    font-size: 58px;
  }

  .quick-start-step-number.reverse {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .quick-start-step-title {
    font-size: 24px;
  }

  .quick-start-step-description {
    line-height: 124%;
    font-size: 20px;
    white-space: normal;
    max-width: 270px;
  }

  .quick-start-step-description br {
    display: none;
  }

  .quick-start-step-description::before {
    background-color: #03c6ff;
    position: absolute;
    width: 172px;
    content: "";
    height: 9px;
    top: -21px;
    left: 0px;
  }
}
/* footer */

footer {
  background: url("public/images/footer-bg.png") no-repeat;
  background-size: 100% 100%;
}

.leave-application-wrapper {
  background-color: var(--primary);
  padding: 56px 0;
}

.leave-application-wrapper > .container {
  justify-content: center;
  padding: 0 33px;
  display: flex;
}

.leave-application-link {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--white);
  text-transform: uppercase;
  letter-spacing: 13px;
  border-radius: 73px;
  text-align: center;
  line-height: 120%;
  font-weight: 900;
  flex-grow: 1;
}

.footer-contacts-wrapper {
  align-items: flex-start;
  flex-direction: column;
  color: var(--primary);
  padding-top: 112px;
  display: flex;
}

.footer-contacts-wrapper > h5 {
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 66px;
  font-weight: 900;
}

.footer-contacts-wrapper > b {
  margin: 65px 0 40px 0;
}

.footer-contacts-wrapper > a[href^="mailto"] {
  margin: 60px 0 81px 0;
}

.social-links-wrapper {
  display: flex;
  gap: 21px;
}

.footer-right-label {
  background-color: var(--primary);
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  align-items: center;
  padding: 27px;
  display: flex;
  height: 121px;
}

.footer-right-label b {
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: -1%;
  position: relative;
  line-height: 120%;
  font-weight: 900;
  font-size: 56px;
  z-index: 2;
}

.footer-right-label:after {
  background-color: var(--primary);
  position: absolute;
  height: 121px;
  content: "";
  width: 50vw;
  right: 0px;
}

.footer-empty-box {
  background-color: var(--primary);
  height: 186px;
}

@media screen and (max-width: 720px) {
  .leave-application-wrapper {
    padding: 26px 0;
  }

  .leave-application-wrapper > .container {
    padding: 0 10px;
  }

  .leave-application-link {
    border-radius: 33px;
    letter-spacing: 6px;
    font-size: 36px;
  }

  .footer-contacts-wrapper {
    padding-top: 39px;
  }

  .footer-contacts-wrapper > h5 {
    letter-spacing: 9px;
    margin-bottom: 0;
    font-size: 56px;
  }

  .footer-contacts-wrapper > a[href^="mailto"] {
    margin: 17px 0 31px 0;
    font-size: 22px;
  }

  .footer-contacts-wrapper > a[href*="maps"] {
    font-size: 18px;
  }

  .footer-contacts-wrapper > b {
    margin: 24px 0 22px 0;
    font-size: 18px;
  }

  .social-links-wrapper {
    gap: 8px;
  }

  .social-links-wrapper img {
    width: 47px;
    height: 47px;
  }

  .footer-right-label {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 11px;
    height: 45px;
  }

  .footer-right-label:after {
    height: 45px;
  }

  .footer-right-label b {
    font-size: 20px;
  }

  .footer-empty-box {
    height: 70px;
  }
}
