@import url("./normaliza.css");
@import url("./fonts.css");
@import url("./libraries/swiper/swiper.min.css");
@import url("./styles/gallery.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary: #3569b1;
  --white: #fff;
  --black: #000;
  --xl-breakpoint: 1536px;
  --lg-breakpoint: 1200px;
  --md-breakpoint: 900px;
  --sm-breakpoint: 600px;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: #3569b1;
}

body.freezed {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--primary);
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1700px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: var(--lg-breakpoint)) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: var(--sm-breakpoint)) {
  .container {
    padding: 0 10px;
  }
}

.certificate-label {
  color: var(--white);
  font-family: NAMU;
  font-size: 20px;
}

.certificate-label.dark {
  color: var(--primary);
  position: absolute;
  left: -20px;
  bottom: -30px;
}
/* typography */

.pre-variant {
  white-space: pre-line;
}

/* header */

.header {
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}

.header-container {
  flex-direction: column;
  display: flex;
}

.header-content-wrapper {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.header-navigation {
  align-self: flex-end;
}

.header-sub-logo {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 10px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
}

.header-navigation-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-navigation-list.mobile {
  flex-direction: column;
}

.header-pictures-wrapper {
  width: 1210px;
  height: 1201px;
  position: absolute;
  right: 0;
}

.header-pictures-wrapper > img {
  width: 100%;
  height: 100%;
}

/* mobile */
.mobile-menu {
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--white);
  top: -100vh;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.mobile-menu.visible {
  opacity: 1;
  bottom: 0;
  top: 0;
}

.burger-menu {
  display: none;
  flex-direction: column;
  transition: all 0.2s;
  gap: 6px;
  width: 40px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 11;
}

.burger-menu:active {
  transform: scale(0.8);
}

.burger-menu.close > div{
  transition: all .3s;
}

.burger-menu.close > div:nth-child(2) {
  opacity: 0;
}

.burger-menu.close > div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-menu.close > div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.burger-menu > div {
  background-color: var(--primary);
  height: 3px;
  width: 100%;
}

.header-navigation-list-item > a {
  color: var(--primary);
  transition: all 0.1s;
  white-space: nowrap;
  padding: 55px 10px;
  font-family: NAMU;
  font-weight: 400;
  font-size: 18px;
  display: block;
}

.header-navigation-list-item.mobile > a {
  text-align: center;
  padding: 10px;
}

.header-navigation-list-item:not(.mobile) > a:hover {
  background-color: var(--primary);
  color: var(--white);
}

.header-description-wrapper {
  justify-content: center;
  flex-basis: 454px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
}

.header-mark-description {
  color: var(--primary);
  font-family: NAMU;
  line-height: 120%;
  font-weight: 400;
  font-size: 25px;
}

@media screen and (max-width: 1600px) {
  .header-pictures-wrapper {
    width: 1010px;
    height: 1201px;
  }
}

@media screen and (max-width: 1400px) {
  .header-pictures-wrapper {
    width: 810px;
    height: 1201px;
  }
}

@media screen and (max-width: 1200px) {
  .header-pictures-wrapper {
    width: 650px;
    height: 880px;
  }

  .header-logo {
    width: 250px;
    height: auto;
  }

  .header-description-wrapper {
    flex-basis: 420px;
  }

  .header-mark-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .header-description-wrapper {
    flex-basis: 410px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.96);
    text-shadow: 0px 0px 10px white;
    padding: 30px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
  }
  .header-content-wrapper {
    justify-content: center;
  }

  .header-navigation {
    align-self: center;
  }
}
@media screen and (max-width: 1000px) {
  .header-pictures-wrapper {
    width: 750px;
    height: 1050px;
  }
}

@media screen and (max-width: 600px) {
  .burger-menu {
    display: flex;
  }

  .header {
    min-height: 100dvh;
    display: flex;
    align-items: center;
  }

  .header-logo {
    width: 250px;
    height: auto;
  }

  .header-sub-logo {
    font-size: 14px;
  }

  .header-pictures-wrapper {
    display: none;
  }

  .header-mark-description {
    max-width: 360px;
    white-space: pre-line;
    font-size: 20px;
  }

  .header-mark-description br {
    display: none;
  }

  .header-content-wrapper {
    justify-content: center;
    margin-top: 60px;
  }

  .header-navigation:not(.mobile) {
    display: none;
    align-self: center;
  }

  .header {
    padding: 50px 0;
  }

  .header-description-wrapper {
    background-color: transparent;
    border-radius: none;
    box-shadow: none;
    flex-basis: 380px;
    padding: 0;
  }
}

/* features */
.features-section {
  background-image: url("./images/features/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 50px 0;
  position: relative;
}

.features-section::before {
  background-color: var(--primary);
  position: absolute;
  opacity: 0.78;
  content: "";
  inset: 0;
}

.features-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  row-gap: 30px;
  column-gap: 100px;
}

.feature-item-wrapper {
  justify-content: center;
  justify-items: center;
  flex-basis: 640px;
  flex-grow: 1;
}

.feature-item {
  max-width: 680px;
  margin: 0 auto;
  color: var(--white);
  font-family: NAMU;
  font-weight: 400;
  font-size: 30px;
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template-columns: 1fr auto;
}

.feature-title {
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: 40px;
}

.feature-description {
  grid-column: span 2;
  font-size: 22px;
}

.feature-picture {
  margin: 0 auto;
}

.feature-logo {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 1470px) {
  .feature-item-wrapper {
    order: 1;
  }

  .feature-item-wrapper.logo {
    order: 5;
  }

  .feature-item.logo {
    display: block;
    text-align: center;
  }

  .feature-logo {
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .features-section::before {
    opacity: 0.95;
  }

  .feature-item {
    row-gap: 15px;
  }

  .features-wrapper {
    row-gap: 40px;
  }

  .feature-picture {
    width: 75px;
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .feature-logo {
    width: 200px;
    height: auto;
  }

  .feature-description {
    font-size: 20px;
    text-align: center;
  }

  .feature-title {
    padding-top: 10px;
    text-align: center;
    white-space: normal;
    font-size: 24px;
  }

  .features-section {
    padding: 35px 0 25px 0;
  }

  .features-wrapper {
    justify-content: center;
  }
}

/* products */
.products-section {
  padding-top: 40px;
  padding-bottom: 90px;
}

.products-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  gap: 70px;
}

.product-item {
  justify-content: center;
  align-items: center;
  flex-basis: 600px;
  flex-wrap: wrap-reverse;
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.product-title {
  text-transform: uppercase;
  font-family: Arsenal;
  font-weight: 700;
  font-size: 32px;
}

.product-picture.first {
  transform: translateX(-30px);
}

@media screen and (max-width: 1200px) {
  .product-item {
    flex-direction: column-reverse;
    text-align: center;
    flex-grow: 0;
    flex-basis: auto;
  }
  .products-wrapper {
    justify-content: center;
  }

  .product-picture {
    width: 320px;
    height: auto;
  }

  .product-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .products-section {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .product-picture {
    width: 220px;
    height: auto;
  }

  .product-title {
    font-size: 22px;
  }
}

/* contacts */

.contacts-section {
  padding: 200px 0;
}

.contacts-wrapper {
  justify-content: space-between;
  color: var(--primary);
  justify-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  row-gap: 70px;
}

.contact-title,
.contact-link {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  width: 100%;
  max-width: 680px;
  display: block;
}

.contact-link {
  padding-top: 5px;
}

.contact-description {
  font-family: "Montserrat";
  font-weight: 400;
  padding-top: 10px;
  font-size: 60px;
  max-width: 680px;
  width: 100%;
}

.contact-title.small {
  font-size: 30px;
}

.contacts-wrapper a.lowercase {
  text-transform: lowercase;
}
.contact-item-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .contacts-section {
    padding: 55px 20px;
  }

  .contact-title,
  .contact-link {
    font-size: 24px;
  }

  .contact-description {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .contacts-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
}

@media screen and (max-width: 600px) {
  .contact-title,
  .contact-link {
    font-size: 16px;
  }

  .contact-description {
    font-size: 22px;
  }
}

/* footer */
.footer {
  background-color: var(--primary);
  padding: 50px 0;
}

.footer-content-wrapper {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 25px 0;
  }

  .footer-logo {
    width: 150px;
    height: 100px;
  }

  .footer-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
