.text-xs {
  font-size: 24px;
}

.text-sm {
  font-size: 30px;
}

.text-m {
  font-size: 32px;
}

.text-base {
  font-size: 40px;
}

.text-xl {
  font-size: 46px;
  line-height: 120%;
  font-weight: 900;
}

.text-2xl {
  font-size: 64px;
  font-weight: 900;
}

.text-3xl {
  font-size: 70px;
  font-weight: 900;
}

.text-4xl {
  font-size: 74px;
  font-weight: 800;
  line-height: 124%;
}

.text-5xl {
  font-size: 88px;
  font-weight: 800;
  line-height: 124%;
}

.text-6xl {
  font-size: 90px;
  font-weight: 800;
  line-height: 124%;
}

.text-lg {
  font-size: 96px;
}
