.text-xs {
  font-size: 1.5rem; /* 24px*/
}

.text-sm {
  font-size: 30px;
}

.text-m {
  font-size: 2rem;
}

.text-base {
  font-size: 40px;
}

.text-xl {
  font-size: 46px;
  line-height: 120%;
  font-weight: 900;
}

.text-2xl {
  font-size: 4rem;
  font-weight: 900;
}

.text-3xl {
  font-size: 70px;
  font-weight: 900;
}

.text-4xl {
  font-size: 74px;
  font-weight: 800;
  line-height: 124%;
}

.text-5xl {
  font-size: 88px;
  font-weight: 800;
  line-height: 124%;
}

.text-6xl {
  font-size: 90px;
  font-weight: 800;
  line-height: 124%;
}

.text-lg {
  font-size: 6rem;
}

@media screen and (max-width: 1200px) {
  .text-xs {
    font-size: 2.5rem; /* 40px*/
  }

  .text-m {
    font-size: 2rem /* 32px */;
  }

  .text-2xl {
    font-size: 6rem; /* 64px*/
  }

  .text-lg {
    font-size: 4rem; /* 64px*/
  }
}
