@media screen and (max-width: 1750px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1650px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 78%;
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 1450px) {
  html {
    font-size: 72%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1350px) {
  html {
    font-size: 68%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 63%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 996px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 690px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 660px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 630px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 570px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 72%;
  }
}

@media screen and (max-width: 510px) {
  html {
    font-size: 67%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 63%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 59%;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 51%;
  }
}
