.header {
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.header-container {
  flex-direction: column;
  display: flex;
}

.header-content-wrapper {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.header-navigation {
  align-self: flex-end;
}

.header-sub-logo {
  font-family: "NAMU";
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 5px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
}

.header-navigation-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-navigation-list.mobile {
  flex-direction: column;
}

.header-pictures-wrapper {
  width: 1210px;
  height: 1201px;
  position: absolute;
  transform: translateY(30%);
  right: 0;
  bottom: 0;
}

.header-pictures-wrapper > img {
  width: 100%;
  height: 100%;
}

/* mobile */
.mobile-menu {
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--white);
  visibility: hidden;
  top: -100dvh;
  right: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.mobile-menu.visible {
  visibility: visible;
  position: fixed;
  opacity: 1;
  bottom: 0;
  top: 0;
}

.burger-wrapper {
  background-color: var(--white);
  justify-content: flex-end;
  transition: all .3s;
  position: fixed;
  display: none;
  padding: 25px;
  z-index: 12;
  right: 0;
  left: 0;
  top: 0;
}

.burger-wrapper.shadow{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 3px;
}

.burger-menu {
  flex-direction: column;
  transition: all 0.2s;
  display: flex;
  width: 40px;
  gap: 6px;
}

.burger-menu:active {
  transform: scale(0.8);
}

.burger-menu.close > div {
  transition: all 0.3s;
}

.burger-menu.close > div:nth-child(2) {
  opacity: 0;
}

.burger-menu.close > div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-menu.close > div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.burger-menu > div {
  background-color: var(--primary);
  height: 3px;
  width: 100%;
}

.header-navigation-list-item > a {
  color: var(--primary);
  transition: all 0.1s;
  white-space: nowrap;
  padding: 55px 10px;
  font-family: NAMU;
  font-weight: 400;
  font-size: 18px;
  display: block;
}

.header-navigation-list-item.mobile > a {
  text-align: center;
  padding: 10px;
}

.header-navigation-list-item:not(.mobile) > a:hover {
  background-color: var(--primary);
  color: var(--white);
}

.header-description-wrapper {
  justify-content: center;
  flex-basis: 434px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  position: relative;
}

.header-mark-description {
  color: var(--primary);
  font-family: NAMU;
  line-height: 120%;
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
}

@media screen and (max-width: 1600px) {
  .header-pictures-wrapper {
    width: 1010px;
    height: 1201px;
  }
}

@media screen and (max-width: 1400px) {
  .header-pictures-wrapper {
    width: 810px;
    height: 1201px;
  }
}

@media screen and (max-width: 1200px) {
  .header-pictures-wrapper {
    width: 650px;
    height: 880px;
  }

  .header-logo {
    width: 250px;
    height: auto;
  }

  .header-description-wrapper {
    flex-basis: 390px;
  }

  .header-mark-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    align-items: center;
    min-height: 100dvh;
    padding: 50px 0;
    display: flex;
  }

  .header-navigation.mobile {
    align-self: center;
  }

  .header-pictures-wrapper {
    display: none;
  }

  .header-description-wrapper {
    align-items: flex-start;
    flex-basis: 700px;
  }

  .header-mark-description br:not(.visible) {
    display: none;
  }

  .header-content-wrapper {
    justify-content: center;
    margin-top: 60px;
  }

  .header-logo {
    width: 220px;
    height: auto;
  }

  .header-mark-description {
    font-size: 20px;
  }

  .header-sub-logo {
    align-self: flex-end;
    margin-top: 20px;
    font-size: 18px;
    order: 3;
  }

  .burger-wrapper {
    display: flex;
  }

  .header-navigation:not(.mobile) {
    display: none;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .header-sub-logo {
    align-self: center;
    font-size: 14px;
    margin-top: 0px;
    order: inherit;
  }

  .header-mark-description br:not(.visible) {
    display: block;
  }

  .header-mark-description {
    margin-left: 10px;
  }

  .header-description-wrapper {
    align-items: center;
    flex-basis: 380px;
  }

  .header-content-wrapper {
    justify-content: center;
    margin-top: 60px;
  }

  .header-logo {
    width: 220px;
    height: auto;
  }

  .header-sub-logo {
    display: block;
  }

  .header-mark-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header-mark-description br:not(.visible) {
    display: none;
  }
}
